.container {
  text-align: center;
  padding-bottom: 4em;
}

.h1 {
    margin: 1em;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 2em;
}