/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.1.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/.pnpm/next@14.1.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/styles/searchbar.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.searchbar_container__I56HJ {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;
    width: 35em;
    background-color: var(--white);
    border-radius: 2em;
    gap: 1em;
}

@media only screen and (max-width: 700px) {
    .searchbar_container__I56HJ {
        flex-direction: column;
        width: 15em;
        border-radius: 1em;
    }
}

.searchbar_searchBtn__1Pgby {
    background-color: var(--white);
    color: var(--brown);
    border: none;
}
.searchbar_goBtn__Ivno4 {
    background-color: var(--white);
    color: var(--brown);
    border-color: var(--brown);
}

.searchbar_searchBtn__1Pgby:hover {
    background-color: var(--medium-grey);
    color: var(--brown);
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.1.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/.pnpm/next@14.1.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/styles/trails.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.trails_container__G9pAq {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trails_wrapper__02mcw {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 15em;
    background-color: var(--light-brown);
}

.trails_aptWrapper__vVfGw {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 4em;
}

.trails_btn__TXkuF {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: var(--teal);
    width: 5em;
    height: 3em;
    border: none;
    margin: 1em;
}

.trails_btn__TXkuF:hover {
    background-color: var(--dark-grey);
}
