.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

.h1 {
    font-size: large;
    text-align: center;
    padding-bottom: 2em;
}

.btn {
    background-color: teal;
    width: fit-content;
    height: 3em;
    border: none;
}

.btn:hover {
    background-color: var(--teal);
}