.bgImg {
    background-image: url(../public/brightchairs.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 80%;
    width: 100vw;
    height: 480px;
    justify-self: center;

}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-self: center;
    justify-items: center;
}

.heading {
    font-size: 6em;
    font-weight: 600;
    color: var(--white);
    text-shadow: -2px 2px 2px rgb(28, 12, 0);
    line-height: 1em;
    padding-top: 2rem;
    padding-left: 2rem;
}

.parag {
    font-size: 2.8em;
    font-weight: 400;
    color: rgb(3, 1, 0);
    padding-top: 2rem;
    padding-left: 1.5rem;
}

.btnPrimary {
    width: 10em;
    height: 3em;
    border-radius: 5px;
    border-style: none;
    background-color: #0145ff;
    color: white;

}

.btnContainer {
    padding-top: 2rem;
    padding-left: 2rem;
}


.searchBar {
    padding: 2rem;
}

.downarrow {
    width: 4.5rem;
    height: 4.5rem;
    color: var(--white);
    padding-top: 2rem;
}

@media only screen and (max-width: 700px) {
    .heading {
        word-wrap: ;
    }
    .heading {
        font-size: 4em;
    }
}