/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.1.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/.pnpm/next@14.1.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/styles/imageSlide.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.imageSlide_wrapper__BBc4x {
    width: 40vw;
}
.imageSlide_slide__KVGoS {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 5em;
    background-color: var(--light-brown);
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.1.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/.pnpm/next@14.1.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/styles/features.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.features_container__k_KYr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding-bottom: 5em;

}

.features_title__7HPKW {
    color: var(--brown);
    text-align: center;
    padding: 1em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
    font-size: 3em;
}

.features_textContainer__GBNje {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 3em;
    text-align: center;
}

.features_h2__rs8Vd{
    color: var(--brown);
}

.features_ul__HpaEv{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none; 
}


