/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.1.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/.pnpm/next@14.1.0_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/styles/meadows.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.meadows_container__8IebW {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meadows_wrapper__is_oM {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 15em;
    background-color: var(--light-brown);
}
.meadows_aptWrapper__2z5Xo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 4em;
}


.meadows_btn__iOx__ {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: var(--teal);
    width: 5em;
    height: 3em;
    border: none;
    margin: 1em;
}

.meadows_btn__iOx__:hover {
    background-color: var(--dark-grey);
}
