.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 15em;
    background-color: var(--light-brown);
}

.aptWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 4em;
}

.btn {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: var(--teal);
    width: 5em;
    height: 3em;
    border: none;
    margin: 1em;
}

.btn:hover {
    background-color: var(--dark-grey);
}